# Gradle temporary directory
.gradle/

# The build directory
build/
webgl4j/build/
examples/build/

# The war directory
examples/war/

# IDEA project files
*.iml
*.ipr
*.iws
webgl4j/*.iml
webgl4j/*.ipr
webgl4j/*.iws
examples/*.iml
examples/*.ipr
examples/*.iws
